

body {
  background-image: url("http://i.huffpost.com/gen/1190286/images/o-COLLEGE-GRADUATION-facebook.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}



.btn {
  background: #B03618;
  background-image: -webkit-linear-gradient(top, #B03618, #B03618);
  background-image: -moz-linear-gradient(top, #B03618, #B03618);
  background-image: -ms-linear-gradient(top, #B03618, #B03618);
  background-image: -o-linear-gradient(top, #B03618, #B03618);
  background-image: linear-gradient(to bottom, #B03618, #B03618);
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 0px;
  margin:auto;
  position: absolute;
  top:40px;
  right:40px


}




img {
  width: 675px;
  height: 250px;
  margin-left: 360px
}



a {
    font-family:'Graduate', cursive;;
    text-decoration: none;
    color: black;
}
