body {
  font-family:'Wellfleet';
  background-image: url("http://cdn.desktopwallpapers4.me/wallpapers/abstract/1920x1080/1/3232-colorful-circles-1920x1080-abstract-wallpaper.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

a {font-family:'Wellfleet';
    position: absolute;
    top: 30%;
    left: 42%;
    font-size:25px;
    text-decoration: none;
    color: #fff;


}

p {
  font-size: 75px;
  color: green;
  text-align:center;

}
