<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/maintemplate.css">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title> About </title>
  </head>
  <body>

    <img src="static/colledge_logo.png">
    <div id="menu">

            <ul>

              <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
              <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>
              <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>

            </ul>


    </div>
    <br>
    <br>
    <br>



    <div id="aboutauthors">
      <section>
          <h2>Can't Find your School?</h2>
          <p>Send us an email <a>here</a> if you're interested in signing your school up for Colledge. Your school should be up within a few days!</p>
      </section>
      <br>
      <br>
    <section>
        <h2>About the authors</h2>
        <p>Created using Google AppEngine.</p>
    </section>
    <div id="contactus">
    <section>
        <h2>Roisin McLoughlin</h2>
        <p>Database Manager and Structure Architect</p>
        <p>Georgetown Univeristy class of 2019, inteding to major in Computer Science.</p>
        <p>Contact at roisinemcloughlin@gmail.com</p>
    </section>
    <section>
        <h2>Casey Chien</h2>
        <p>Site Functions Manager</p>
        <p>UC Santa Cruz class of 2019, inteding to major in Computer Science.</p>
        <p>Contact at case.chein@gmail.com</p>
    </section>
    <section>
        <h2>Gibran Huerta</h2>
        <p>CSS and HTML Designer, Logo Designer</p>
        <p>UC Berkeley class of 2019, inteding to major in Computer Science.</p>
        <p>Contact at huertagibran@gmail.com</p>
    </section>

  </body>
</html>
