<html>
  <head>
    <title>About</title>
    <link href="static/main.css" rel="stylesheet" type="text.css">
  </head>
  <body>
    <header>
      <h1 id=main>about | COLLedge</h1>
      <div id="menu">
        <ul>
          <li><a href="/school">My School</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/about">About</a></li>
        </div>
    </header>

      <section>
        <h4>About the authors</h4>
        <p>Created using Google AppEngine.</p>
      </section>
  </body>
</html>
