<!DOCTYPE html>
<html>
  <head>
    <title>Events</title> <!-- this is a comment -->
    <link href="static/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <img src="static/colledge_logo.png">
    <div id="menu">

            <ul>

              <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
              <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>
              <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>

            </ul>


    </div>

    <div id="schoolnameandevent"> {{profile.school.get().name}} | {{event.name}}
    </div>

    </section>
      <p id=pageintro>{{greeting}}</p>
    </section>

    <p id=pageintro>Share a post about {{event.name}}!</p>
    <section>
      <form method="POST" action="/event?key={{event.key.urlsafe()}}" enctype="multipart/form-data">
      <p>Title: <input type="text" name="title" /><p>
      <p>Post: <br><textarea name="content" rows=5, cols=60></textarea></p>
      <div>Image: <input type="file" name="img"></div>
      <!--<p>Name: (optional): <input type="text" name="name" /></p>
      <p>Location (optional): <input type="text" name="loc" /></p>-->
      <input type="submit" />
    </section>
    {% for post in posts %}
      <section>
        <h2>{{post.title}}</h2>
        <img src="/img?post_id={{post.key.urlsafe()}}"></img>
        <p>{{post.content}}</p>
        <h3>{{post.timestamp}}</h3>
      </section>
    {% endfor %}
  </section>

    <footer>Mondy, July 13th, 2015 - Last Upated July 23rd, 2015</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/main.js"></script>

  </body>
</html>
