<!DOCTYPE html>
<html>
  <head>
    <title>Events</title> <!-- this is a comment -->
    <link href="static/maintemplate.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <img src="static/colledge_logo.png">
    <div id="menu">

            <ul>

              <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
              <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>
              <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>

            </ul>


    </div>
<br>
    <div id="schoolnameandevent"> <h1> {{profile.school.get().name}} | {{event.name}} </h1> </div>

    <section>
      <div id="shareapost"> <h2> Create a post about the {{event.name}}! </h2> </div>
      <form method="POST" action="/event?key={{event.key.urlsafe()}}" enctype="multipart/form-data">
      <p>Title: <input type="text" name="title" /><p>
      <p>Post: <br><textarea name="content" rows=5, cols=60></textarea></p>
      <div>Image: <input type="file" name="img"></div>
      <br>
      <!--<p>Name: (optional): <input type="text" name="name" /></p>
      <p>Location (optional): <input type="text" name="loc" /></p>-->
      <input type="submit" />

    </section>
    {% for post in posts %}
      <div id = "container">
        <div class = "content">
          <h2>{{post.title}}</h2>
          <h4>{{post.profile.get().first_name}} {{post.profile.get().last_name}}</h4>
          <p>Poster's profile pic will go here</p>
          {% if post.img %}
            <img src="/img?post_id={{post.key.urlsafe()}}"></img>
          {% endif %}
          <p>{{post.content}}</p>
          <h3>{{post.timestamp}}</h3>
        </div>
      </div>
    {% endfor %}
  </section>
  </body>
</html>
