<!DOCTYPE html>
<html>
  <head>
    <title>School</title> <!-- this is a comment -->
    <link href="static/maintemplate.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <img src="static/colledge_logo.png">
    <div id="menu">

            <ul>

              <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
              <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>
              <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>

            </ul>
  </div>

  <div id="schoolname"> <h1> {{profile.school.get().name}}</h1> </div>


    <section>

    <div id="createvent"> <h3> Create an event for the {{profile.school.get().name}} community!</h3> </div>

      <form method="POST" action="">
        <p> Event Title: <input type="text" name="title" /><p>
      <input type="submit" />

    </section>

    {% for event in events %}
    <div id="eventposts">
      <section>
      <a href='/event?key={{event.key.urlsafe()}}'>{{event.name}} </a>
      </section>

    {% endfor %}



  </body>
</html>
