<!DOCTYPE html>
<html>
  <head>
    <title>Colledge</title> <!-- this is a comment -->
    <link href="static/maintemplate.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  </head>

  <body>

        <div id="menu">

                <ul>
                  <li> <img  id="logo" src="static/colledge_logo.png"> </li>
                  <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>
                  <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
                  <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>





                </ul>
      </div>

  <div id="schoolname"> <h1> {{profile.school.get().name}} | Events</h1> </div>


    <section>

    <div id="createvent"> <h3> Create a new event for the {{profile.school.get().name}} community!</h3> </div>

      <center><form method="POST" action="">
        <p> Event Title: <input type="text" name="title" /><p>
      <input type="submit" /> </center>

    </section>
    <br>
    <br>
    <center> <h1> {{profile.school.get().name}}'s Events <h1> </center>
    {% for event in events %}
    <div id="eventposts">
      <section>
      <center> <a href='/event?key={{event.key.urlsafe()}}'>{{event.name}} </a> </center>
      </section>

    {% endfor %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


                 <div id="about"> <a href="/about" id="image2"> <footer> About </footer> </a>

  </body>
</html>
