<html>
  <head>
    <title>collEDGE</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1 id=main>profile | collEDGE</h1>
      <div id="menu">
        <ul>
          <li><a href="/school">My School</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/about">About</a></li>
        </div>
    </header>
      <p id=pageintro></p>
      <section>
        <section>
          <p>This is where an image will go </p>
        </section>
      <h4>Insert Name Variable</h4>
      <p>Insert School Name Variable</p>
    </section>
  </body>
</html>
