<html>
  <head>
    <title>collEDGE</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1 id=main>profile | collEDGE</h1>
      <div id="menu">
        <ul>
          <li><a href="/school">My School</a></li>
          <li><a href="/profile/profile?key={{urlsafe_key}}">Profile</a></li>
          <li><a href="/about">About</a></li>
        </div>
    </header>
      <p id=pageintro></p>
      <section>
        <section>
          <p>This is where an image will go </p>
        </section>
      <h4>Insert first name</h4>
      <p>Insert school name</p>
    </section>
  </body>
</html>

<!-- add/subtract profile variables- works coming from the success handler
    but not from the other handlers. need to add keys from other webpages
      profile.school.get().name to get school name  -->
