<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/maintemplate.css">
      <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
      <meta charset="utf-8">
      <title>Account Setup</title>
  </head>
  <body>
      <img src="static/colledge_logo.png">

      <div id="menu">

    </div>

    <br>

    <section>
    <form method="post" action="">
        <p>First Name: <input type="text" name="first_name" /><p>
        <p>Last Name: <input type="text" name="last_name" /><p>
        <p>School: <select name="school">
                     <option value="georgetown">Georgetown</option>
                     <option value="ucsc">UC Santa Cruz</option>
                     <option value="ucberkley">UC Berkley</option><br>
        <p><input type="submit" /></p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

              <div> <a href="/about"><p> About </p> </a> </div>
  </body>
</html>
