<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/maintemplate.css">
      <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
      <meta charset="utf-8">
      <title>Account Setup</title>
  </head>
  <body>

        <div id="menu">

                <ul>
                  <li> <img  id="logo2" src="static/colledge_logo.png"> </li>





                </ul>
      </div>

    <br>

    <section>
    <center> <form method="post" action="">
        <p>First Name: <input type="text" name="first_name" /><p>
        <p>Last Name: <input type="text" name="last_name" /><p>
        <p>School: <select name="school">
                     <option value="georgetown">Georgetown</option>
                     <option value="ucsc">UC Santa Cruz</option>
                     <option value="ucberkley">UC Berkley</option><br>
        <p><input type="submit" /></p>
        <center>
    </section>

  </body>
</html>
