<html>
  <head>
    <title>Account</title>
    <link href="static/main.css" rel="stylesheet" type="text.css">
  </head>
  <body>
    <header>
      <h1 id=main>create an account | COLLedge</h1>
      <div id="menu">
        <ul>
          <li><a href="/school">My School</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/about">About</a></li>
        </div>
    </header>
    <section>
    <form method="post" action="">
        <p>First Name: <input type="text" name="first_name" /><p>
        <p>Last Name: <input type="text" name="last_name" /><p>
        <p>School: <select>
                     <option value="georgetown" name="gt">Georgetown</option>
                     <option value="ucsc" name='sc'>UC Santa Cruz</option>
                     <option value="ucberkley" name='ucb'>UC Berkley</option><br>
        <p><input type="submit" /></p>
    </section>
  </body>
</html>
