<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/maintemplate.css">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Success!</title>
  </head>
  <body>

        <div id="menu">

                <ul>
                  <li> <img  id="logo" src="static/colledge_logo.png"> </li>
                  <li><a href={{logout}} id="image3"><img src="static/logout_icon.png"></a></li>
                  <li><a href="/school" id="image"><img src="static/school_icon.png"></a></li>
                  <li><a href="/profile" id="image2"><img src="static/student_icon.png"></a></li>





                </ul>
      </div>


      <br>
        <br>
        <br>
          <br>
          <br>
            <br>
            <br>
            <br>
              <br>

    <div id="successtext">
      <section>
        <br>
        <h4>Thank you {{profile.first_name}}, your account was successfully created!</h4>
        <br>
        <p>Start finding posts from your school <a href="/school">here.</a></p>
      </section>

  </body>
</html>
