<html>
  <head>
    <title></title>
    <link href="static/main.css" rel="stylesheet" type="text.css">
  </head>
  <body>
    <header>
      <h1 id=main>about | COLLedge</h1>
      <div id="menu">
        <ul>
          <li><a href="/school">My School</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/about">About</a></li>
        </div>
    </header>

      <section>
        <h4>Your Account was successfully created!</h4>
        <p>Start finding posts from your school <a href="/school">here.</a></p>
      </section>
  </body>
</html>
